<link rel="import" href="../../polymer/polymer-element.html">

<link rel="import" href="../ev-widget-behavior.html">

<dom-module id="test-widget">
  <template strip-whitespace>
    <style>
      :host {
        display: block;
      }
    </style>
  </template>
  <script>
    class TestWidget extends EvWidgetBehavior(Polymer.Element) {
      static get is() { return 'test-widget'; }
    }

    window.customElements.define(TestWidget.is, TestWidget);
  </script>
</dom-module>
